.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.header-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.header-home > hr{
    width: 100%;
}
