.auth-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #a46b3e;
}

.form-container-auth {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 550px;
  height: fit-content;
  padding: 20px;
  border: 1px solid #b8a99a;
  border-radius: 5px;
  background-color: #fff;
}

.form-container-auth > h2 {
  margin: 0px;
  font-weight: 600;
}

.form-container-auth input {
  border-radius: 5px;
  border: 1px solid #b8a99a;
  padding: 5px;
}

.form-container-auth > button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #ffbc2b;
  font-weight: 600;
}

.form-container-auth > button:hover {
  background-color: #e0a623;
  cursor: pointer;
}

.error-color-p {
    color: red;
}

.succes-color-p,
.success-color-p {
    color: green;
}
